<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Gantari-Medium.ttf</string>
		<string>Gantari-Regular.ttf</string>
		<string>Gantari-Bold.ttf</string>
		<string>Gantari-SemiBold.ttf</string>
		<string>Eras Bold ITC Regular.ttf</string>
	</array>
</dict>
</plist>
